<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                        <strong>Resumo</strong>
                    </div>
                    <button type="button" (click)="buildFiles()" class="btn btn-info">Gerar todos os documentos</button>
                </div>
                <div class="card-body">
                    <table class="table table-hover table-bordered table-striped text-center mobile-table">
                        <thead>
                            <tr>
                                <th>Mês/Ano</th>
                                <!-- <th>Tipo</th> -->
                                <th>Nome</th>
                                <th>NCM</th>
                                <th>Notas</th>
                                <th>Média Entrada</th>
                                <th>Média Saída</th>
                                <!-- <th>Menor Valor</th>
                                <th>Maior Valor</th> -->
                                <th>Valor Total</th>
                                <!-- <th>MVA</th> -->
                                <th class="md-column">Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of products">
                                <td data-th="Mês/Ano">{{ item.monthYear }}</td>
                                <!-- <td data-th="Tipo">{{ item.entry == 'true' ? 'ENTRADA' : 'SAÍDA' }}</td> -->
                                <td data-th="Nome">{{ item.name }}</td>
                                <td data-th="NCM">{{ item.ncm }}</td>
                                <td data-th="Notas">{{ item.totalResults }}</td>
                                <td data-th="Média Entrada">{{ item.mediaEntry | number:'1.0-2' }}</td>
                                <td data-th="Média Saída">{{ item.media | number:'1.0-2' }}</td>
                                <!-- <td data-th="Menor Valor">{{ item.lowerValue | number:'1.0-2' }}</td>
                                <td data-th="Maior Valor">{{ item.highestValue | number:'1.0-2' }}</td> -->
                                <td data-th="Valor Total">{{ item.totalValue | number:'1.0-2' }}</td>
                                <!-- <td data-th="MVA"></td> -->
                                <td data-th="Ações" class="sm-column">
                                    <button class="btn btn-success m-1" (click)="buildFiles(item.ncm)">
                                        Gerar Documento
                                    </button>
                                </td>
                            </tr>
                            <tr *ngIf="products.length == 0">
                                <td colspan="10">Nenhum Registro Encontrado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>